PopulationStats.txt filter=lfs diff=lfs merge=lfs -text
SchoolFoodPrograms.txt filter=lfs diff=lfs merge=lfs -text
ConsumptionStats.txt filter=lfs diff=lfs merge=lfs -text
DataType.txt filter=lfs diff=lfs merge=lfs -text
FoodLegislation.txt filter=lfs diff=lfs merge=lfs -text
FoodStamps.txt filter=lfs diff=lfs merge=lfs -text
Location.txt filter=lfs diff=lfs merge=lfs -text
MetabolicDisease.txt filter=lfs diff=lfs merge=lfs -text
