physical-activity-of-california-adults-dd.xlsx filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
california-adults-who-met-physical-activity-guidelines-for-americans-2013-.csv filter=lfs diff=lfs merge=lfs -text
*.xls filter=lfs diff=lfs merge=lfs -text
