US[[:space:]]Cities.csv filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.xls filter=lfs diff=lfs merge=lfs -text
*.xlsx filter=lfs diff=lfs merge=lfs -text
USCities.csv filter=lfs diff=lfs merge=lfs -text
SchoolEnrollment.xls filter=lfs diff=lfs merge=lfs -text
datatype.csv filter=lfs diff=lfs merge=lfs -text
FoodLegislation.csv filter=lfs diff=lfs merge=lfs -text
FoodLegislationCopy.csv filter=lfs diff=lfs merge=lfs -text
