Disease[[:space:]]by[[:space:]]county[[:space:]]-[[:space:]]Federal.csv filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
enrollment[[:space:]]9-12[[:space:]]by[[:space:]]state[[:space:]]and[[:space:]]region.xls filter=lfs diff=lfs merge=lfs -text
Enrollment[[:space:]]by[[:space:]]level[[:space:]]and[[:space:]]grade.xls filter=lfs diff=lfs merge=lfs -text
enrollment[[:space:]]k-8[[:space:]]by[[:space:]]state[[:space:]]and[[:space:]]region.xls filter=lfs diff=lfs merge=lfs -text
FDPIR.xls filter=lfs diff=lfs merge=lfs -text
February2014[[:space:]]Food[[:space:]]Environment.xls filter=lfs diff=lfs merge=lfs -text
Food[[:space:]]Distribution[[:space:]]Program[[:space:]]Tables.xls filter=lfs diff=lfs merge=lfs -text
CSFP.xls filter=lfs diff=lfs merge=lfs -text
Food[[:space:]]Distribution[[:space:]]Program[[:space:]]Tables[[:space:]]Cost.xls filter=lfs diff=lfs merge=lfs -text
enrollment[[:space:]]by[[:space:]]region[[:space:]]and[[:space:]]state.xls filter=lfs diff=lfs merge=lfs -text
*.xlsx filter=lfs diff=lfs merge=lfs -text
FoodEnvironment2018.xls filter=lfs diff=lfs merge=lfs -text
food-affordability-2006-2010-phwrfo.zip filter=lfs diff=lfs merge=lfs -text
FoodEnvironmentAtlas.zip filter=lfs diff=lfs merge=lfs -text
fruit-and-vegetable-consumption-in-california-residents-2012-2013-liww_2.zip filter=lfs diff=lfs merge=lfs -text
Nutrition__Physical_Activity__and_Obesity_-_Women__Infant__and_Child.csv filter=lfs diff=lfs merge=lfs -text
Nutrition[[:space:]]Physical[[:space:]]Activity[[:space:]]Obesity[[:space:]]Legislation.csv filter=lfs diff=lfs merge=lfs -text
simplemaps_uscities_basicv1.74.zip filter=lfs diff=lfs merge=lfs -text
sugar-sweetened-beverage-consumption-in-california-residents-2012-2013-k6q95q.zip filter=lfs diff=lfs merge=lfs -text
obesity-in-california-2012-and-2013-1dmht2.zip filter=lfs diff=lfs merge=lfs -text
TEFAP.xls filter=lfs diff=lfs merge=lfs -text
FY[[:space:]]2016[[:space:]]SNAP[[:space:]]Income[[:space:]]Limits.xlsx filter=lfs diff=lfs merge=lfs -text
2015[[:space:]]Food[[:space:]]Environment[[:space:]]Atlas[[:space:]]Data[[:space:]]Download.xls filter=lfs diff=lfs merge=lfs -text
california-adults-who-met-physical-activity-guidelines-for-americans-2013-vr7fkd.zip filter=lfs diff=lfs merge=lfs -text
